{% extends 'home.html' %}

{% block content %}
    <h1>list</h1>

    <table>
        <tr>
            <td>Last Name</td>
            <td>First Name</td>
        </tr>
        {%for item in items%}
        <tr>
            <td>{{ item['nom'] }}</td>
            <td>{{ item['prenom'] }}</td>
        </tr>
        {%endfor%}

    </table>
{% endblock %}